<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="is.xyz.mpv">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature android:glEsVersion="0x00030000" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application android:label="@string/mpv_activity"
        android:allowBackup="true"
        android:icon="@mipmap/mpv_launcher_icon">
        <activity
            android:name=".MPVActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.mkv" />
                <!-- workaround for Android bug -->
                <data android:pathPattern=".*\\..*\\.mkv" />
                <data android:pathPattern=".*\\..*\\..*\\.mkv" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.mkv" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.mkv" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.mkv" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.mkv" />
                <data android:pathPattern=".*\\.mp4" />
                <!-- workaround for Android bug -->
                <data android:pathPattern=".*\\..*\\.mp4" />
                <data android:pathPattern=".*\\..*\\..*\\.mp4" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.mp4" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.mp4" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.mp4" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.mp4" />
                <data android:pathPattern=".*\\.avi" />
                <!-- workaround for Android bug -->
                <data android:pathPattern=".*\\..*\\.avi" />
                <data android:pathPattern=".*\\..*\\..*\\.avi" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.avi" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.avi" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.avi" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.avi" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:label=""
            android:theme="@style/FilePickerTheme" />
        <activity android:name=".MainActivity"
            android:theme="@style/FilePickerTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
