<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="is.xyz.mpv">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature android:glEsVersion="0x00020000" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:resizeableActivity="true"
        android:icon="@mipmap/mpv_launcher_icon"
        android:label="@string/mpv_activity">
        <activity
            android:name=".MPVActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="rtmp" />
                <data android:scheme="rtmpe" />
                <data android:scheme="rtmps" />
                <data android:scheme="rtp" />
                <data android:scheme="rtsp" />
                <data android:scheme="mms" />
                <data android:scheme="mmst" />
                <data android:scheme="mmsh" />
                <data android:scheme="udp" />
            </intent-filter>
            <intent-filter> <!-- MIME type only (e.g. Google Drive) -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
            </intent-filter>
            <intent-filter> <!-- HTTP(S) with MIME type (#43) -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="*" />
                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/vnd.apple.mpegurl" />
            </intent-filter>
            <intent-filter> <!-- HTTP(S) with extension (e.g. Chrome) -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="*" />
                <!-- the duplicate patterns below work around an Android bug: -->
                <!-- http://stackoverflow.com/questions/3400072/#answer-8599921 -->
                <data android:pathPattern=".*\\.mkv" />
                <data android:pathPattern=".*\\..*\\.mkv" />
                <data android:pathPattern=".*\\..*\\..*\\.mkv" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.mkv" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.mkv" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.mkv" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.mkv" />

                <data android:pathPattern=".*\\.mp4" />
                <data android:pathPattern=".*\\..*\\.mp4" />
                <data android:pathPattern=".*\\..*\\..*\\.mp4" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.mp4" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.mp4" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.mp4" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.mp4" />

                <data android:pathPattern=".*\\.webm" />
                <data android:pathPattern=".*\\..*\\.webm" />
                <data android:pathPattern=".*\\..*\\..*\\.webm" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.webm" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.webm" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.webm" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.webm" />

                <data android:pathPattern=".*\\.avi" />
                <data android:pathPattern=".*\\..*\\.avi" />
                <data android:pathPattern=".*\\..*\\..*\\.avi" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.avi" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.avi" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.avi" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.avi" />

                <data android:pathPattern=".*\\.flac" />
                <data android:pathPattern=".*\\..*\\.flac" />
                <data android:pathPattern=".*\\..*\\..*\\.flac" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.flac" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.flac" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.flac" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.flac" />

                <data android:pathPattern=".*\\.mp3" />
                <data android:pathPattern=".*\\..*\\.mp3" />
                <data android:pathPattern=".*\\..*\\..*\\.mp3" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.mp3" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.mp3" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.mp3" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.mp3" />

                <data android:pathPattern=".*\\.ogg" />
                <data android:pathPattern=".*\\..*\\.ogg" />
                <data android:pathPattern=".*\\..*\\..*\\.ogg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.ogg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ogg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.ogg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.ogg" />

                <data android:pathPattern=".*\\.m3u8*" />
                <data android:pathPattern=".*\\..*\\.m3u8*" />
                <data android:pathPattern=".*\\..*\\..*\\.m3u8*" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.m3u8*" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.m3u8*" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.m3u8*" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.m3u8*" />
            </intent-filter>
            <!-- various URL intent filters for popular youtube-dl extractors -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="www.youtube.com" />
                <data android:pathPattern="/watch.*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="youtube.com" />
                <data android:pathPattern="/watch.*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="youtu.be" />
                <data android:pathPattern=".*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="*.youtube.com" />
                <data android:pathPattern="/watch.*" />
            </intent-filter>

            <intent-filter> <!-- FIXME: all following patterns are suboptimal because they also match the homepages -->
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="www.vimeo.com" />
                <data android:pathPattern=".*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="vimeo.com" />
                <data android:pathPattern=".*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="twitch.tv" />
                <data android:pathPattern=".*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="m.twitch.tv" />
                <data android:pathPattern=".*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="clips.twitch.tv" />
                <data android:pathPattern=".*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="vid.me" />
                <data android:pathPattern=".*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/FilePickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"/>
        <service android:name=".BackgroundPlaybackService" android:exported="false" />
        <receiver android:name=".NotificationButtonReceiver" android:exported="false">
            <intent-filter>
                <action android:name="is.xyz.mpv.ACTION_PREV" />
                <action android:name="is.xyz.mpv.ACTION_NEXT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
