<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".IntentTestActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"
            android:theme="@style/FilePickerTheme" />
        <activity
            android:name=".CodecInfoActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"
            android:theme="@style/FilePickerTheme" />
    </application>
</manifest>
